<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--左侧导航-->
<aside class="lyear-layout-sidebar" th:fragment="aside">

  <!-- logo -->
  <div id="logo" class="sidebar-header">
    <a th:href="@{/main}"><img th:src="@{/img/gif/petgif1.gif}" style="width: 90px;height: 35px" title="ppp" alt="ppp" /></a>
  </div>
  <div class="lyear-layout-sidebar-scroll">

    <nav class="sidebar-main">
      <ul class="nav nav-drawer">
        <li class="nav-item" th:class="${activeUrl=='main'?'nav-item active':'nav-item'}"> <a th:href="@{/main}"><i class="mdi mdi-home"></i> 后台首页</a> </li>
        <li class="nav-item nav-item-has-subnav">
          <a href="javascript:void(0)"><i class="mdi mdi-cup"></i> 商品管理</a>
          <!--自己想的有点笨的方法，根据th:replace传来的参数，打开导航栏并显示高亮模块-->
          <ul class="nav nav-subnav" th:style="${productStyle=='block'?'display:block':''}">
            <li th:class="${activeUrl=='allProducts'?'active':''}"> <a th:href="@{/product/allProducts}">所有商品</a> </li>
            <li th:class="${activeUrl=='typeOfProduct'?'active':''}"> <a th:href="@{/product/typeOfProduct}">商品类型</a> </li>
            <li th:class="${activeUrl=='addProduct'?'active':''}"> <a th:href="@{/product/addProduct}">新增商品</a> </li>
            <li th:class="${activeUrl=='putProduct'?'active':''}"> <a th:href="@{/product/putProduct}">上架商品</a> </li>

          </ul>
        </li>
        <li class="nav-item nav-item-has-subnav">
          <a href="javascript:void(0)"><i class="mdi mdi-file-outline"></i> 订单管理</a>
          <ul class="nav nav-subnav" th:style="${productStyle=='block'?'display:block':''}">
            <li th:class="${activeUrl=='allTransaction'?'active':''}"> <a th:href="@{/transaction/allTransaction}">所有订单</a> </li>
<!--            <li th:class="${activeUrl=='1'?'active':''}"> <a href="">商品发货</a> </li>-->
          </ul>
        </li>
        <li class="nav-item nav-item-has-subnav">
          <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i> 用户管理</a>
          <ul class="nav nav-subnav" th:style="${productStyle=='block'?'display:block':''}">
            <li th:class="${activeUrl=='allUser'?'active':''}"> <a th:href="@{/user/allUsers}">用户信息</a> </li>
            <li th:class="${activeUrl=='editPassword'?'active':''}"> <a th:href="@{/system/editPsw}">修改密码</a> </li>

          </ul>
        </li>

        <li class="nav-item nav-item-has-subnav">
          <a href="javascript:void(0)"><i class="mdi mdi-language-javascript"></i> 其它 </a>
          <ul class="nav nav-subnav">

          </ul>
        </li>

      </ul>
    </nav>

  </div>

</aside>
</html>