<!DOCTYPE html>
<html>
<head>
    <title>exe_1.html</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<table id = "test_table">
    <tr>
        <th>
            <label class="lyear-checkbox checkbox-primary">
                <input type="checkbox" id="check-all"><span></span>
            </label>
        </th>
        <th>编号</th>
        <th>标题</th>
        <th>书籍</th>
        <th>作者</th>
        <th>阅读量</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <label class="lyear-checkbox checkbox-primary">
                <input type="checkbox" name="ids" value="1"><span></span>
            </label>
        </td>
        <td>1</td>
        <td>第01章 天涯思君不可忘</td>
        <td>《倚天屠龙记》</td>
        <td>金庸</td>
        <td>36</td>
        <td><font class="text-success">正常</font></td>
        <td>
            <div class="btn-group">
                <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                <a class="btn btn-xs btn-default" href="#!" title="查看" data-toggle="tooltip"><i class="mdi mdi-eye"></i></a>
                <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="lyear-checkbox checkbox-primary">
                <input type="checkbox" name="ids" value="2"><span></span>
            </label>
        </td>
        <td>2</td>
        <td>第01章 古道腾驹惊白发，危峦快剑识青翎</td>
        <td>《书剑恩仇录》</td>
        <td>金庸</td>
        <td>44</td>
        <td><font class="text-success">正常</font></td>
        <td>
            <div class="btn-group">
                <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                <a class="btn btn-xs btn-default" href="#!" title="查看" data-toggle="tooltip"><i class="mdi mdi-eye"></i></a>
                <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <label class="lyear-checkbox checkbox-primary">
                <input type="checkbox" name="ids" value="3"><span></span>
            </label>
        </td>
        <td>3</td>
        <td>一个戴水獭皮帽子的朋友</td>
        <td>《湘行散记》</td>
        <td>沈从文</td>
        <td>39</td>
        <td><font class="text-success">正常</font></td>
        <td>
            <div class="btn-group">
                <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                <a class="btn btn-xs btn-default" href="#!" title="查看" data-toggle="tooltip"><i class="mdi mdi-eye"></i></a>
                <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
            </div>
        </td>
    </tr>


    <tr>
        <td>
            <label class="lyear-checkbox checkbox-primary">
                <input type="checkbox" name="ids" value="10"><span></span>
            </label>
        </td>
        <td>10</td>
        <td>第一回 于按察山东赴任　邹其仁赴路登程</td>
        <td>《于公案》</td>
        <td>佚名</td>
        <td>37</td>
        <td><font class="text-success">正常</font></td>
        <td>
            <div class="btn-group">
                <a class="btn btn-xs btn-default" href="#!" title="编辑" data-toggle="tooltip"><i class="mdi mdi-pencil"></i></a>
                <a class="btn btn-xs btn-default" href="#!" title="查看" data-toggle="tooltip"><i class="mdi mdi-eye"></i></a>
                <a class="btn btn-xs btn-default" href="#!" title="删除" data-toggle="tooltip"><i class="mdi mdi-window-close"></i></a>
            </div>
        </td>
    </tr>
</table>
<input type="button" value="删除">

<script type="text/javascript">

    $(function(){
        $("input[type='button']").click(function() {
            $("input[name='ids']:checked").each(function() { // 遍历选中的checkbox
                n = $(this).parents("tr").index();  // 获取checkbox所在行的顺序
                $("table#test_table").find("tr:eq("+n+")").remove();
            });
        });
    });
</script>
</body>
</html>